.home-container {
    padding: 25px;
}

.card:hover{
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
    cursor: pointer;
  }



@media screen and (max-width: 900px) {
    .card:hover {
        box-shadow: none;
    }
    
}